.rctitle {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.25em;
	color: #0000ff;
	text-align: left;
	padding: 4px;
}

.rcdescription {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	color: #0000ff;
	text-align: center;
	padding: 2px;
}

.rcinfo{
	font-family: 'Righteous', sans-serif;
	font-size: 1em;
	text-align: right;
	padding: 5px;
}

.rcinfobox{
	font-family: 'Righteous', sans-serif;
	font-size: 1.125em;
	background-color: #DDDDDD;
	text-align: center;
	border-radius: 15px;
	padding: 5px;
	margin: 4px;
}

.rcradio{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
	color: #0000ff;
	text-align: left;
	padding: 5px;
	margin: 3px;
}

.rcbox_plain {
	background-color: #ffffff;
	padding: 4px;
	border-radius: 0 0 15px 15px;
	border: 2px solid blue;
	margin: 4px;
}

.rcbox_money {
	background-color: #bbffb2;
	padding: 4px;
	border-radius: 0 0 15px 15px;
	border: 2px solid blue;
	margin: 4px;
}