.rctitle {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 22px;
	color: #0000ff;
	text-align: left;
	padding: 4px;
}

.rcdescription {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	color: #0000ff;
	text-align: center;
	padding: 2px;
}

.rcinfobox{
	font-family: 'Molengo', sans-serif;
	font-size: 16px;
	color: #0000ff;
	background-color: #DDDDDD;
	text-align: center;
	border-radius: 15px;
	padding: 5px;
	margin: 4px;
}

.rcpulldown{
	font-family: 'Molengo', sans-serif;
	font-size: 16px;
	color: #0000ff;
	background-color: #f2f2f2;
	text-align: center;
	border-radius: 15px;
	padding: 7px;
	margin: 4px;
}

.rcfileinput{
	font-family: 'Molengo', sans-serif;
	font-size: 16px;
	color: #0000ff;
	padding: 5px;
	margin: 4px;
}

.rcradio{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	color: #0000ff;
	text-align: left;
	padding: 2px;
	margin: 3px;
}

.rcbox_plain {
	background-color: #f2f2ff;
	padding: 4px;
	border-radius: 0 0 15px 15px;
	border: 2px solid blue;
	margin: 4px;
}

.rcbox_money {
	background-color: #e8ffe5;
	padding: 4px;
	border-radius: 0 0 15px 15px;
	border: 2px solid blue;
	margin: 4px;
}